.confirmPasswordInput {
  border-radius: 5px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.validInput {
  box-shadow: 0 5px rgba(0, 0, 100, 0.2);
}

.notValidInput {
  box-shadow: 0 5px rgba(0, 50, 40, 0.2);
}
