.passwordInput:focus + .validationPromptContainer {
  height: 125px;
}

.validationPromptContainer {
  height: 0;
  list-style: none;
  overflow-y: hidden;
  transition: 0.5s ease-in-out;
}

.prompt {
}

.validPrompt {
  color: darkseagreen;
}

.notValidPrompt {
  color: orangered;
}
