.passwordInput:focus ~ .validationPromptContainer {
  height: 125px;
}

.validationPromptContainer {
  height: 0;
  list-style: none;
  overflow-y: hidden;
  transition: 0.25s ease-in-out;
  margin-left: 16px;
  margin-top: -10px;
  padding: 0;
}

.prompt {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.validPrompt {
  /* color: rgb(94, 221, 96); */
  color: gray;
  /* font-weight: 500; */
}

.validPrompt::before {
  content: "";
  background-image: none;
}

.notValidPrompt {
  color: rgb(247, 72, 80);
}
