.formContainer {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

input {
  margin: 20px;
  width: 80%;
  height: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

input[type="password"] {
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
