.formContainer {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 40px;
  border-radius: 10px;
}

input {
  margin: 16px;
  width: 80%;
  height: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

input[type="password"] {
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  margin: 0;
  height: 0;
  top: 0;
  left: 0;
  transform: translateX(24px);
}
