.formContainer {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 40px;
  border-radius: 10px;
}

.link {
  font-size: 12px;
  transform: translate(0, 24px);
  text-align: center;
}
