body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .inputLabelVisible {
  opacity: 1;
}

input:focus + .inputLabelVisible {
  font-weight: bold;
} */

.inputLabelInvisible {
  opacity: 0;
  color: red;
}
input + label {
  transform: translate(28px, -50px);
  color: grey;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

input:focus + label {
  transform: translate(28px, -82px);
  color: black;
  font-weight: 500;
}

label:after {
  content: "*";
  color: red;
}

input {
  outline: none;
  /* outline-color: black; */
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  padding: 4px 12px;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.07);
  font-size: 18px;
}

input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

input:focus {
  color: black;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.notEmpty {
  transform: translate(28px, -82px);
  color: black;
  transition: 0.1s ease-in-out;
}

.validator-icon {
  height: 18px;
  width: 18px;
  transform: translate(296px, -48px);
  pointer-events: none;
  background-size: contain;
  margin-bottom: -18px;
}

.valid-icon {
  background-image: url("../public/icons/valid.png");
}

.invalid-icon {
  background-image: url("../public/icons/invalid.png");
}

.input-error {
  border: 1px solid red;
  border-radius: 2px;
  padding: 4px 12px;
  box-shadow: inset 1px 2px 4px rgba(255, 0, 0, 0.07);
}

.input-error:hover {
  box-shadow: inset 1px 2px 8px rgba(255, 0, 0, 0.02);
}

.input-error:focus {
  border: 1px solid red;
  box-shadow: inset 1px 2px 4px rgba(255, 0, 0, 0.01),
    0px 0px 8px rgba(255, 0, 0, 0.2);
}

.validation-prompt-container {
  height: 0;
  list-style: none;
  overflow-y: hidden;
  transition: 0.25s ease-in-out;
  margin-top: -10px;
  padding-left: 0px;
}

.has-errors {
  height: 0;
  transition: 1s ease-in-out;
}

.input-error ~ .has-errors {
  height: 100%;
}

li::before {
  height: 18px;
  width: 18px;
  content: "";
  background-image: url("../public/icons/warning.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 18px;
}

.input-invalid {
  color: red;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.input-valid {
  display: none;
}

.validation-prompt-container {
  margin-left: 16px;
}
